#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}



.pointer {
  cursor: pointer;
}

.text-pointer-underlined:hover {
  text-decoration: underline;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.badge-active {
  background-color: #278f6c;
}

.badge-inactive {
  background-color: #b0502a;
}

.badge-in-progress {
  background-color: #e6e15c;
}
