#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}



.pointer {
  cursor: pointer;
}

.text-pointer-underlined:hover {
  text-decoration: underline;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.badge-active {
  background-color: rgb(6 140 52 / 0.94);
}

.badge-inactive {
  background-color: #96160e;
}

.badge-in-progress {
  background-color: #deab3a;
}

.badge-completed{
  background-color: #a13517;
}
